<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <title>Navbar fragment</title>
</head>
<body>
<header th:fragment="navbar(page)"
        class="navbar navbar-expand navbar-dark"
        style="min-height: 4rem; background-color: #11AC86;">

    <div class="container flex-row bd-navbar">
        <a class="navbar-brand" href="/home">CPSB-API</a>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/pet_list" th:text="#{nav_pet_list}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/breed_list" th:text="#{nav_breed_list}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{__${page}__ (lang='pt')}">PT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{__${page}__ (lang='en')}">EN</a>
                </li>
            </ul>
        </div>

        <div class="ms-auto">
            <form class="form-inline" th:action="@{/logout}" method="post">
                <button id="btn-exit"
                        class="btn btn-outline-light"
                        type="submit"
                        th:text="#{btn_logout}"
                ></button>
            </form>
        </div>
    </div>
</header>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>