<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Detalhes de pet</title>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <h1>Detalhes de <span th:text="${pet.nome}"></span></h1>
    </div>

    <div class="row">
        <table class="table table-hover">

            <tr>

                <td class="col-2">Nome</td>
                <td><span th:text="${pet.nome}"></span></td>

            </tr>

        </table>
    </div>

    <div class="row gap-2">
        <div class="col-auto">
            <a th:href="@{/formulario_atualizar_pet/{petId}(petId = ${pet.id})}">
                Editar informações de pet
            </a>
        </div>
        <div class="col-auto">
            <a href="/">Voltar para a lista de pets</a>
        </div>
    </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>