<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <title th:text="#{login_page_title}"></title>
</head>
<body>

<div class="container mt-5">
    <div class="row mb-3">
        <h1 id="login-title">Cutcute Petshop</h1>
    </div>

    <div id="alert-logout-success"
         class="alert alert-success"
         role="alert"
         th:if="${param.logout}"
         th:text="#{logout_message_success}"></div>

    <div class="row">
        <form th:action="@{/login}" method="post">

            <div class="form-group mb-3">
                <label for="username" th:text="#{login_user_name_label}"></label>
                <input class="form-control" type="text" id="username" name="username">
            </div>

            <div class="form-group mb-3">
                <label for="password" th:text="#{login_user_password_label}">Senha</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>

            <div id="alert-invalid-user"
                 class="alert alert-danger"
                 role="alert"
                 th:if="${param.erro_login}"
                 th:text="#{login_message_error}"></div>

            <button id="btn-signin"
                    class="btn btn-primary"
                    type="submit"
                    th:text="#{btn_login}"></button>

        </form>
    </div>

</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>