<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragmentos :: cabecalho('Cadastrar Pet')}"></head>
<body>
<div class="container mt-5">
    <div class="row">
        <h1>Cadastro de Pet</h1>
    </div>

    <div class="row">
        <form action="/cadastrar_pet" method="post" th:object="${pet}">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" id="nome" th:field="*{nome}">
            </div>

            <div class="form-group">
                <label for="raca">Raça</label>
                <select class="form-select" id="raca" th:field="*{raca.nome}">
                    <option th:each="r : ${lista_racas}"
                            th:value="${r}"
                            th:text="${r}">
                </select>
                <small id="racaHelp" class="form-text text-muted">
                    <a href="/formulario_cadastrar_raca">Cadastrar nova raça</a>
                </small>
            </div>

            <button class="btn btn-primary mt-4" type="submit">Submit</button>

        </form>
    </div>

</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>