<header th:fragment="navbar(page)"
        class="navbar navbar-expand navbar-dark"
        style="min-height: 4rem; background-color: #11AC86;">

    <div class="container flex-row bd-navbar">
        <a class="navbar-brand" href="/home">CPSB-API</a>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/pet_list" th:text="#{nav_pet_list}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/breed_list" th:text="#{nav_breed_list}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{__${page}__ (lang='pt')}">PT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{__${page}__ (lang='en')}">EN</a>
                </li>
            </ul>
        </div>

        <div class="ms-auto">
            <form class="form-inline" th:action="@{/logout}" method="post">
                <button id="btn-sair"
                        class="btn btn-outline-light"
                        type="submit"
                        th:text="#{btn_logout}"
                ></button>
            </form>
        </div>
    </div>
</header>