<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragmentos :: cabecalho('Home')}"></head>
<body>

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1 class="display-4">CPSB-API</h1>
        <p class="lead">Seja muito bem vindo ao Cutcute Petshop Spring Boot API!</p>
        <hr class="my-4">
        <p>Caso necessite de ajuda, entrar em contato com 
            <a href="mailto:gabriel.eringer.23@gmail.com">Gabriel Eringer de Oliveira</a>!
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-primary" href="/lista_pets">Lista de Pets</a>
            <a class="btn btn-lg btn-secondary" href="/lista_racas">Lista de Raças</a>
        </p>
    </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>