<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="~{fragmentos :: cabecalho('Home')}"></head>
<body>

<div class="container">
    <div class="row mt-5">
        <h1>Home</h1>
    </div>

    <div class="row">
        <div class="col-auto">
            <a href="/lista_racas">Lista de Raças</a>
        </div>

        <div class="col-auto">
            <a href="/lista_pets">Lista de Pets</a>
        </div>
    </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>