<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Lista de Pets')}"></head>
<body>

<div th:replace="~{fragmentos :: navbar(#{endpoint_pet_list})}"></div>

<div class="container">
    <div class="row mt-5">
        <h1>Lista de Pets</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Raça</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pet : ${pets}">
                    <td class="col-3" th:text="${pet.nome}">Nome</td>
                    <td class="col-3" th:text="${pet.raca.nome}">Raça</td>
                    <td class="col-1">
                        <a th:href="@{/detalhes_pet/{idPet}(idPet = ${pet.id})}">Detalhes</a>
                    </td>
                    <td class="col-1">
                        <a th:href="@{/formulario_atualizar_pet/{idPet}(idPet = ${pet.id})}">Atualizar</a>
                    </td>
                    <td class="col-1">
                        <a th:href="@{/remover_pet/{idPet}(idPet = ${pet.id})}">Remover</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <a href="/formulario_cadastrar_pet">Cadastrar pet</a>
    </div>

</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>